 <h2>What is wrong?</h2>
 <%= form_tag do %>
     <label> (Pick one of the following)
       <input list="feelings" name="myFeelings" /></label>
       <datalist id="feelings">
         <option value="<%= cheerup_path('Bored')%>">"Bored"</option>
         <option value="<%= cheerup_path('Hopeless')%>">"Hopeless"</option>
         <option value="<%= cheerup_path('Sad')%>">"Sad"</option>
         <option value="<%= cheerup_path('Frustrated')%>">"Frustrated"</option>
         <option value="<%= cheerup_path('Angry')%>">"Angry"</option>
         <option value="<%= cheerup_path('SERIOUSLY!')%>">"SERIOUSLY!"</option>
       </datalist>
     </select>
     </form>
<% end %>
