
<h2> "feeling new" </h2>
<h2> New Feeling <%=link_to @feeling.name, @feeling %> </h2>
<%= form_for [@feeling] do |f| %>
  <%= f.label :name, "What feelz do you want to add?" %>
  <%= f.text_field :name %>

  <%=f.submit %>
  <% end %>
