<h2> "feeling new" </h2>
<%= form_for [@feeling] do |f| %>
  <%= f.label :name, "What feelz do you want to add?" %>
  <%= f.text_field :name %>

  <%= f.label :tag, "tag?" %>
  <%= f.text_field :tag %>

  <%=f.submit %>
  <% end %>

<!-- Need to add ability to give tag w the same name as the feeling  -->
