<h2> <%= @feeling.name %> </h2>
<ul>

<%= link_to "Create New Cheerup", new_feeling_cheerup_path(@feeling) %>
</br>
<%= link_to "Create New Feeling", new_feeling_path(@feeling) %>
</br>
<%= link_to "Vent abt it", new_feeling_post_path(@feeling) %>
</br>
<%=link_to "Back to Feeling", feelings_path(@feeling) %>
</br>
</ul>
<div class="container">
  <section>
    <h1>"Section 1"</h1>
    <% @gifs.each do |gif| %>
      <%= image_tag gif.img_url %>
    <% end %>
  </section>
  <section>
    <h1>"other section"</h1>

    <% @imgs.each do |img| %>
      <%= image_tag img.img_url %>
    <% end %>
  </section>
  <section>
    <h1>"Posts section"</h1>
    <% @feeling.posts.each do |post| %>
      <h2><%= link_to post.title, feeling_post_path(@feeling, post) %></h2>
    <% end %>
  </section>
</div>
