<h2> <%= @feeling.name %> </h2>
<ul>

<%= link_to "Create New Cheerup", new_feeling_cheerup_path(@feeling) %>
</br>
<%= link_to "Create New Feeling", new_feeling_path(@feeling) %>
</br>
<%= link_to "Vent abt it", new_feeling_post_path(@feeling) %>
</br>
<%=link_to "Back to Feeling", feelings_path(@feeling) %>
</br>
</ul>
<div class="container">
   <section>
     <h2>Gifs</h2>
     <% @gifs.each do |gif| %>
       <%= image_tag gif.img_url %>
       <% end %>
     </section>

   <section>
    <h2>Images</h2>
    <% @imgs.each do |img| %>
    <%= img.name %>
    <%= image_tag img.img_url %>
    <% end %>
  </section>

  <section>
    <h1>POSTS</h1>
    <% @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, post %></h2>
      <p><%= post.body %></p>
      <% end %>
    </article>
  </section>

  <section>
    <h2>"Posts section"</h2>
    <% @feeling.posts.each do |post| %>
      <h2><%= link_to post.title, feeling_post_path(@feeling, post) %></h2>
    <% end %>
  </section>
</div>
