<h2>New Artist</h2>

<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :nationality %>
  <%= f.text_field :nationality %>

  <%= f.submit %>
<% end %>


<h2>New Song for <%= link_to @artist.name, @artist %></h2>

<%= form_for [@artist, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :album %>
  <%= f.text_field :album %>

  <%= f.label :preview_url %>
  <%= f.text_field :preview_url %>

  <%= f.submit %>
<% end %>



<h2><%= @song.title %> <%= link_to("(edit)", edit_song_path(@song)) if @current_user %></h2>
<h3>By: <%= link_to @song.artist.name, @song.artist %></h3>
<h4>Submitted by <%= link_to @song.user.username, @song.user %></h4>

Album: <%= @song.album %></br>

<audio controls src="<%= @song.preview_url %>"></audio>
