<h2> New Cheerup <%=link_to @feeling.name, @feeling %> </h2>
<%= form_for [@feeling, @cheerup] do |f| %>
  <%= f.label :name, "Cheerup Name" %>
  <%= f.text_field :name %>

  <%=f.label :img_url, "URL" %>
  <%=f.text_field :img_url %>

  <%= check_box_tag(data_type: "gif") %>
  <%= label_tag(:data_type, "gif") %>
  <%= check_box_tag(data_type: "img") %>
  <%= label_tag(:pet_cat, "image") %>

  <%=f.submit %>
  <% end %>
