<h2> New Cheerup <%=link_to @feeling.name, @feeling %> </h2>
<%= form_for [@feeling, @cheerup] do |f| %>
  <%= f.label :name, "Cheerup Name" %>
  <%= f.text_field :name %>

  <%=f.label :img_url %>
  <%=f.text_field :img_url %>

  <%=f.label :data_type %>
  <%=f.text_field :data_type %>

  <%=f.label :feeling_name %>
  <%=f.text_field :feeling_name %>

  <%=f.label :tag_name %>
  <%=f.text_field :tag_name %>

  <%=f.submit %>
  <% end %>
