<h2> cheerup show </h2>
<h3> Feeling <%= @feeling.name %> </h3>

<%= link_to "Create New Cheerup", new_feeling_cheerup_path(@feeling) %></br>
<%= link_to "Create New Feeling", new_feeling_path(@feeling) %></br>
<%= link_to "Vent abt it", new_feeling_post_path(@feeling) %></br>
<%= link_to "Back to Feeling", feelings_path(@feeling) %></br>

<div class="container">
  <section>
    <h3>Gifs</h3>
    <% @gifs.each do |gif| %>
      <%= image_tag gif.img_url %>
      <% end %>
    </section>

    <section>
    <h3>Images</h3>
    <% @imgs.each do |img| %>
      <%= img.name %>
      <%= image_tag img.img_url %>
      <% end %>
    </section>

    <section>
    <h3>Posts</h3>
    <% @feeling.posts.each do |post| %>
    <h3><%= link_to post.title, feeling_post_path(@feeling, post) %></h3>
    <p><%= post.body %></p>
    <% end %>
  </section>
</div>
