<h2> <%= @feeling.name %> </h2>

 <%=link_to "Back to Feeling", feeling_path(@feeling) %> </h2>


<% @gifs.each do |gif| %>
<%= image_tag gif.img_url %>
<% end %>

<% @imgs.each do |img| %>
<%= image_tag img.img_url %>
<% end %>



  <%= link_to "Create New Post", new_post_path %>
<% end %>
<section>
  <% @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <time>Updated by <%= post.user.email %> at <%= post.updated_at %></time>
      <p><%= post.body %></p>
    </article>
  <% end %>
</section>
