<h2> New Cheerup <%=link_to @feeling.name, @feeling %> </h2>
<%= form_for [@feeling, @cheerup] do |f| %>
  <%= f.label :title, "Post Title" %>
  <%= f.text_field :title %>

  <%=f.label :body %>
  <%=f.text_field :body %>

  <%=f.label :img_url %>
  <%=f.text_field :img_url %>

  <%=f.label :data_type %>
  <%=f.text_field :data_type %>

  <%=f.submit %>
  <% end %>
